/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

   /* ==========================================================================
      Author's custom styles
      ========================================================================== */
   /* General Styles */

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

ul,
ol {

}

a {
    color: #e2e3ed;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125em;
}

h1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 2.25em;
    line-height: 1em;
    font-weight: normal;
}

h2 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.875em;
    font-weight: normal;
    line-height: 1.125em;
}

h3,
h4 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.25em;
}

p {
    color: #ffffff;
    font-size: 0.875em;
    line-height: 1.25em;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

address {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.125em;
}

address a {
    color: #ffffff;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 0.875em;
}


.content-wrapper {
   width: 90%;
   margin: 50px 0;
}


/*---------- Base Header - Footer Styles ------*/

header,
footer {
  background-color: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header figure {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.header-divider {
  width:100%;
  height: 1px;
  border-top: 1px solid #c5c5c5;
}


header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header nav a {
  text-decoration: none
}

footer .content-wrapper {
  width: 320px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

footer p {
  margin: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.contact {
  width: 320px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.contact address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.social {
  width: 320px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.social h3 {
  margin: 0;
}

.social-icons {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright p {
  margin: 0;
}
/*---------- Mobile Styles - Homepage ------*/

.hero-area {
  background: url('../img/unplugged-hero-img.png') center no-repeat;
  background-size: cover;
  height: 500px;
  margin: 0;
  padding: 6%;
}

.hero-area .content-wrapper {
  width: 90%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}


/*---------- Form Styles - Homepage ------*/

aside {
    background-color: #527158;
    height: 330px;
    display: flex;
    justify-content: center;
}
aside .form-description h3 {
  margin: 0;
}
aside p {
  margin-bottom: 0;
}

aside .content-wrapper {
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
aside .form-description {
  margin: 0;
  width: 320px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
}






aside .inputs {
    width: 320px;
    height: 120px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
}
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/*------------ Features Styles - Homepage --------*/

.features {
  background: url('../img/features-background.png') center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}


.features h2 {
  width: 90%;
  margin-top: 50px;
  margin: 50px 5%;
  text-align: left;
}

.features .content-wrapper {
    margin: 0px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.features .content-wrapper p {
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features article {
  width: 320px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}


/*------------ Reviews Styles - Homepage -------*/

.reviews {
    background-color: #2a423a;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.reviews h2 {
    width: 90%;
    margin: 40px 0;
    line-height: 1;
}
.reviews .content-wrapper {
  margin-top: 0;
}
.reviews h3 {
  width: 55%;
  margin: 20px 0;
}
/*--------------- About Page Styles ----------*/

.mission {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.mission .content-wrapper {
  margin-top: 25px;
  color: #ffffff;
}

.mission-content {

}

.map figure {
    border: 1px solid red;
    position: relative;
    padding-bottom: 125%;
    height: 0;
    overflow: hidden;

}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.contact-section {
  background-color: #2a423a;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.contact-section .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column nowrap;
}

.contact-section address {
  font-style: normal;
}
.contact-section p {
  line-height: 1.3em;
}


/*-----FAQ Styles------*/

.faq {
  background-color: #527158;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.faq h2 {
  width: 90%;
  margin: 50px 5%;
  text-align: left;

}

.faq .content-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.faq article {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px) {
/*Tablet styles here*/

a {
    font-size: 1em;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
}




.content-wrapper {
   width: 84%;
}

header,
footer {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

header .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-divider {
  border-top: 0;
  width: 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
}

header nav {
  padding-right: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
}

footer .content-wrapper{
  width: 90%;
}

.footer-content {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
aside {
  height: 240px;
}

aside .content-wrapper {
    margin-top: 30px;
    width: 84%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}
aside .form-description {
  width: 290px;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
}

aside .form {
  width: 290px;
}
aside .form h3 {
  margin-top: 0;
}

aside .inputs {
  width: 290px;
}

.features h2 {
  margin: 50px 8%;
}
.features .content-wrapper {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.features article {
  width: 45%;
  margin: 0;
}
.reviews article {
  display: flex;
  justify-content: space-between;
}

.reviews h2 {
    color: #ffffff;
    width: 85%;
}

.reviews article div {
  width: 49%;
}
.reviews article figure {
  width: 49%;
  display: flex;
  align-items: center;
}
.reviews h3 {
  width: 320px;
}

.contact {
  margin-top: 40px;
}

.contact h3 {
  margin-top: 0;
}

.social {
  margin-top: 25px;
}
.social h3 {
  margin-bottom: 24px;
}

/* ==========================================================================
   About Page
   ========================================================================== */
.mission-content {
    display:
    justify-content: space-between;
    align-items:
}

.mission-content p {
    width:
}

.contact-section .content-wrapper h2 {
    width:
}

    /* ==========================================================================
       FAQ Page
       ========================================================================== */

.faq h2 {
  margin: 50px 8%;
}

.faq .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}
.faq article {
  width: 45%;
  margin: 0;
}

@media only screen and (min-width: 1200px) {
/*Desktop styles here*/

a {
    font-size: 1.125em;
}

h1 {
    font-size: 3.75em;
}
h3 {
    font-size: 1.875em;
}

p {
    font-size: 1.125em;
}


.features article {
  width: 32%;
  margin: 0;
}



address a {
  font-size: 1.125em;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
